.navbar {
    background-color: white;
    float: left;
}

.container-fluid {
    margin-top: 100px;
}

.page-title {
    font-family: 'Playfair Display', serif;
    color: #D5842E;
    font-size: 4em;
    margin-left: 82px;
}

.restaurant, .activity {
    margin: 0 auto;
    width: 87%;
    height: 175px;
    max-height: 175px;
    background: white;
    border: 3px solid#0000004d;
    border-radius: 10px;
    margin-top: 10px;
}

.rest-pic, .poi-pic {
    overflow: hidden;
    max-height: 169px;
}

.rest-pic img, .poi-pic img {
    width: 100%;
    margin-left: -15px;
    height: 100%;
    margin-top:0px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.rest-name, .poi-name {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.5em;
    color: #0275d8;
    font-weight: 600;
    margin-top: 25px;
}

.poi-name {
    font-size: 1.5em;
}

.rest-address, .poi-description {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: .9em;
    color: #616161;
    font-weight: 400;
}

.poi-description {
    font-size: .9em;
}

.rest-rating-title {
    color: #616161;
    font-size: .9em
}

.rest-rating, .poi-direction {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: .9em;
    color: #D5842E;
    font-weight: 400;
}

.poi-direction {
    font-size: 1em;
}

.saveRestaurant {
    background-color: #D5842E;
    border: 2px solid #D5842E;
    width: 200px;
}

.rest-btn, .poi-btn {
    padding-top: 60px;
}

.more-btn {
    margin: 0 auto;
    width: 300px;
}

.more-div {
    margin-top: 10px;
    margin-bottom: 10px;
}