/* General */
body {
    font-family: 'Merriweather Sans', sans-serif;
    max-width: 100vw;
}

.container-fluid {
    width: 100vw;
    max-width: 100vw;
    padding-left: 0px;
    padding-right: 0px;
    overflow:hidden;
}

.home-bg {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: relative;
    height: 100vh;
}

/* Nav Section */
nav {
    height: 80px;
}

.navbar {
    background:transparent;
    padding-left: 85px;
    padding-right: 85px;
}

.btn {
    border-radius: 20px;
    height: 40px;
    width: 100px;
    font-family: 'Merriweather Sans', sans-serif;
}

.nav-btn {
    margin-left: 10px;
}

#nav-img {
    width: 60px;
    margin-right: 10px;
    display: inline;
}

.navbar-brand {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2em;
    font-weight: 600;
    display: inline;
    color:#616161;
}

.btn-primary {
    width: 150px;
}

.btn-warning {
    background-color: #D5842E;
    border-color: #D5842E;
}

/* Hero Section */
.hero-line {
    font-family: Merriweather Sans;
    font-size: 5em;
    color:white;
    position:absolute;
    top: 300px;
    left: 100px;
    text-shadow: 2px 2px black;
}

.hero-subtext {
    font-family: 'Playfair Display', serif;
    position:absolute;
    top: 400px;
    left: 100px;
    color: white;
    text-shadow: 2px 1px black;
    font-size: 1.5em;
}

.hero-btn {
    position:absolute;
    top:450px;
    left:100px;
    width: 150px;
}

/* Content - Spacing */
.top-spacing {
    height: 200px;
}

.spacing {
    height: 200px;
}

/* Content */
.content-row {
    height:400px;
}

.content-subtitle {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 3em;
    color: #616161;
    font-weight: 600;
}

.content-text {
    font-family: 'Playfair Display', serif;
    font-size:1.5em;
    color: #616161;
    padding-left: 20px;
}

.content-bgIcon {
    position:absolute;
    z-index: -99;
}

.content-img {
    width: 400px;
    margin-left: -50px;
    margin-top: 50px;
}

.img-right {
    margin-left: -150px;
}

.content-icon {
    position:absolute;
    width: 50px;
    margin-left: 250px;
    margin-top: 150px;
}

/* CTA */
.cta {
    background: url(../img/cta.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: relative;
    height: 35vh;
}

.cta-text {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 2.5em;
    margin-top: 50px;
    text-shadow: 2px 1px black;
}

.cta-btn {
    position: absolute;
    display: inline-block;
    margin-left: -70px;
    margin-top: 20px;
}

/* Login Page */
.login-spacing {
    height: 150px;
}

#login-title {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    font-weight: 600;
    display: inline;
    color:#616161;
    padding-top: 20px;
}

.img-otter {
    width: 80px;
    display:block;
    margin: 0 auto;
}

.text-left {
    font-family: 'Merriweather Sans', sans-serif;
}

.login-signup {
    width: 200px;
}

form.login {
    margin-top: 20px;
}

/* Signup Page */
.signup-spacing {
    height: 100px;
}

form.signup {
    margin-top: 20px;
}

.form-group label {
    font-size: .8em;
}

.form-check-label {
    margin-left: 10px;
    font-size: .9em;
    margin-bottom: 10px;
}

.form-check-input {
    margin-left: 5px;
}

/* First Time Members */
.member-name {
    color: #616161;
}

.member-first-btn {
    width: 500px;
    height: 500px;
    margin-top: -100px;
}

.modal.show  {
    display:flex!important;
    flex-direction:column;
    justify-content:center;
    align-content:center;
    align-items: flex-start;
}

/* Trip Form */
.dashboard-btn {
    width: 150px;
}

.tripform-spacing {
    height: 100px;
}

.tripform-title {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    font-weight: 600;
    display: inline;
    color:#616161;
}

.menu-links {
    cursor: pointer;
}

/* Dashboard */
.newTrip-btn {
    width: 200px;
}

.add-btn {
    width: 300px;
}
.dashboard-spacing {
    height: 100px;
}

.main-container {
    margin: 0 auto;
}

.trip-bg {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 350px;
}

.tripName {
    margin-top: 50px;
    margin-left: 20px;
    font-family: 'Playfair Display', serif;
    text-shadow: 2px 1px black;
    font-size: 1.5em;
    font-weight: 600;
    color:white;
}

.tripLocation {
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    text-shadow: 2px 1px black;
    font-size: 3em;
    margin-left: 20px;
}

.tripDates {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.5em;
    text-shadow: 2px 1px black;
    color:white;
    margin-left: 20px;
}

#addPoi {
    height: 50px;
    width: 85%;
    margin-left: 109px;
    border-radius: 0;
    border-bottom-left-radius: 10px;
}

#addRest {
    height: 50px;
    width: 82%;
    margin-right: 130px;
    border-radius: 0;
    border-bottom-right-radius: 10px;
}

.btn-div {
    padding: 0;
}

.weather-title {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    text-shadow: 2px 1px black;
    color:white;
    margin-right: 20px;
    margin-top: 50px;
    font-weight: 600;
}

.weathericon {
    max-width: 70px;
}

/* Bootstrap Media Queries */
@media all and (max-width: 991px) {
    .content-text-right {
        padding-left: 100px;
    }
} 
@media all and (max-width: 768px) {
    .hero-line {
        font-size: 4em;
    }
    .hero-subtext {
        font-size: 1.3em;
        top: 380px;
    }
    .hero-btn {
        top: 430px;
    }
    .content-subtitle {
        font-size: 2.5em;
    }
    .content-text {
        font-size: 1.3em;
    }
    .content-text-right {
        padding-left: 80px;
    }
    .cta-text {
        font-size: 2em;
    }
    .content-bgIcon-right {
        right: 10px;
    }
    .tent-icon {
        right: -70px;
    }
    .trekking-icon {
        left: -200px;
    }
    .forkknife-icon {
        right: -80px;
    }
    .spacing2 {
        height: 350px;
    }
} 
@media all and (max-width: 575px) {
    .navbar-brand {
        margin-left: -70px;
    }
    .navbar-toggler {
        margin-top: 5px;
    }
    .nav-btn {
        position: absolute;
        right: 10px;
        top: 60px;
    }
    .login-btn {
        top: 110px;
    }
    .hero-line {
        font-size: 3.6em;
        left: 30px;
    }
    .hero-subtext {
        font-size: 1.6em;
        top: 380px;
        left: 30px;
        line-height: 1.5;
    }
    .hero-btn {
        top: 460px;
        left: 30px;
    }
    .content-subtitle {
        margin-left: 50px;
    }
    .content-text-trips {
        margin-left: 60px;
    }
    .img-trips {
        margin-left: 100px;
    }
    .tent-icon {
        right: 170px;
        top: -90px;
    }
    .img-right {
        margin-left: 140px;
    }
    .spacing {
        height: 200px;
    }
    .spacing2 {
        height: 250px;
    }
    .content-bgIcon-right {
        right: 10px;
        top: -500px;
    }
    .content-text-dining {
        margin-left: 60px;
    }
    .img-food {
        margin-left: 140px;
    }
    .forkknife-icon {
        right: 270px;
        top: -120px;
    }
    .form-login-btn {
        top: 290px;
    }
    .signup-signup {
        top: 0px;
    }
}